<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lobstr.stellar.vault"
        tools:ignore="LockedOrientationActivity">

    <queries>
        <package android:name="com.lobstr.client" />
        <package android:name="com.lobstr.staging" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Step 2: This permission is depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- Used for avoiding crashes on Android 11+ for the NfcAdapter -->
    <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions"/>

    <application
            android:name=".presentation.application.LVApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="false"
            android:dataExtractionRules="@xml/data_extraction_rules">

        <service
                android:name=".presentation.fcm.LVFirebaseMessagingService"
                android:exported="false"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
                android:name=".presentation.splash.SplashActivity"
                android:launchMode="singleTop"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.home.HomeActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
                android:name=".presentation.auth.AuthActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
                android:name=".presentation.pin.PinActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />
        <activity
                android:name=".presentation.vault_auth.VaultAuthActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
                android:name=".presentation.container.activity.ContainerActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.lobstr.stellar.vault.presentation.home.HomeActivity" />
        </activity>
        <activity
                android:name=".presentation.tangem.TangemCreateWalletActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
                android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                    android:name="android.nfc.action.TECH_DISCOVERED"
                    android:resource="@xml/nfc_tech_filter" />
        </activity>

        <provider
                android:name=".presentation.util.content_provider.PreferencesProvider"
                android:authorities="@string/authority"
                android:exported="true" />

        <!-- NOTE Used for Inject data in Worker. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge"
            android:exported="false" >
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>